footer {
  font-size: 10px;
  font-weight: 400;
  bottom: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px 0;
  letter-spacing: 1px;
}

footer a {
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 10px;
  letter-spacing: 1px;
}
