footer {
  font-size: 8px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 18px 0;
  letter-spacing: 1px;
  font-family: "Spartan", sans-serif;
  line-height: 28px;
}

footer a {
  color: rgba(255, 255, 255);
  font-weight: 700;
}
